<h2>Awesome Text Messaging App!</h2>
<hr />
@Html.ActionLink("View all Messages", "GetMessages")
<br />
@Html.ActionLink("Send a new message", "SendMessage")

@Html.ActionLink("Search for address", "FindCoords")

